<div class="container">
  <h1>Meu sistema Angular</h1>
  <br>
  <button (click)="closeIframe('Você possui um atendimento em andamento', 'info')">Fechar Iframe pela Conferencia</button>
  <hr>
  <button (click)="closeIframe('', '')">Fechar Iframe pela tela de Consulta de Urgencia</button>
  <hr>
  <button (click)="closeIframe('Vovê saiu da fila', 'info')">Fechar Iframe pela Fila de Urgencia</button>
  <hr>
  <button (click)="closeIframe('Feedback enviando com sucesso', 'success')">Fechar Iframe pelo Feedback do Atendimento</button>
</div>

